<p-toast></p-toast>
<p-confirmDialog [rejectVisible]="false" [closable]="false" [style]="{width: '50vw'}"></p-confirmDialog>
<!-- loading -->
<div
  *ngIf="pageSukses == false && pageGagal == false"
  class="flex justify-content-center align-items-start w-full h-screen flex-column"
>
  <p-skeleton class="w-8 mb-4" height="30px"></p-skeleton>
  <p-skeleton class="w-8 mb-4" height="75px"></p-skeleton>
  <p-skeleton class="w-12 mb-4" height="150px"></p-skeleton>
  <p-skeleton class="w-12" height="150px"></p-skeleton>
</div>

<!-- errorPage -->
<div
  class="grid flex flex-column justify-content-center align-items-center w-full h-screen"
  *ngIf="pageGagal"
>
  <img src="assets/ilustrasi/pageerror.png" class="w-3" />
  <b>Opps, terjadi kesalahan!</b>
  <p>Coba periksa koneksi internet anda lalu ulangi kembali</p>
  <button
    type="button"
    label="Ulangi"
    pButton
    pRipple
    class="p-button-text p-button-rounded"
    icon="pi pi-refresh"
    style="color: rgb(34, 155, 7)"
    *ngFor="let error of load"
    (click)="reload(error.tipe, '')"
  ></button>
</div>

<!-- successPage -->
<div class="grid" *ngIf="pageSukses">
  <div class="col-12">
    <div class="card">
      <div class="card-header align-items-center flex">
        <h5 class="m-0 inline fs-12">Data Pengunjung Web</h5>
        <span class="p-input-icon-left ml-auto float-end" *ngIf="scrWidth > 700">
          <input
            pInputText
            type="text"
            class="p-inputtext-sm animate-width animation-duration-150"
            [(ngModel)]="cari"
            (ngModelChange)="cariData($event)"
            placeholder="Cari Pengunjung"
            pTooltip="tekan enter ⏎ untuk mencari"
            tooltipEvent="focus"
            tooltipPosition="top"
            life="2000"
            (keyup.enter)="emitsearch()"
          />
          <i class="pi pi-search"></i>
          <button
            *ngIf="cari !== '' || undefined"
            type="button"
            pButton
            pRipple
            class="p-button-text p-button-rounded p-button-plain"
            icon="pi pi-search"
            style="color: slateblue"
            pTooltip="Cari (⏎)"
            (click)="emitsearch()"
          >
          </button>
        </span>
        <div class="ml-auto float-end" *ngIf="scrWidth < 700">
          <button 
            pButton
            pRipple
            type="button" 
            class="p-button-text p-button-rounded p-button-plain" 
            icon="pi pi-search"
            style="color: #404040"
            (click)="scrWidth = 1000">
          </button>
        </div>
      </div>
      <div
        *ngIf="total !== 0"
        style="overflow-x: auto; height: 400px"
        id="tabel"
        infinite-scroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        [infiniteScrollDisabled]="InfiniteData"
        [immediateCheck]="true"
        (scrolled)="onScroll($event)"
      >
        <table class="table table-bordered table-hover">
          <thead
            style="position: sticky; top: 0; z-index: 99"
            class="table-light"
          >
            <tr>
              <th scope="col">IP Address</th>
              <th scope="col">Perangkat</th>
              <th scope="col">Tanggal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of isidata">
              <td style="padding-top: 16px; padding-bottom: 16px">
                <p>{{ item.ip }}</p>
              </td>
              <td style="padding-top: 16px; padding-bottom: 16px">
                <p>{{ item.perangkat }}</p>
              </td>
              <td style="padding-top: 16px; padding-bottom: 16px">
                <p>{{ item.tanggal }}</p>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!InfiniteData">
            <tr *ngFor="let i of [0, 1]">
              <td style="padding-top: 16px; padding-bottom: 16px">
                <p-skeleton
                  class="w-8 mb-4"
                  height="30px"
                ></p-skeleton>
              </td>
              <td style="padding-top: 16px; padding-bottom: 16px">
                <p-skeleton
                  class="w-8 mb-4"
                  height="30px"
                ></p-skeleton>
              </td>
              <td style="padding-top: 16px; padding-bottom: 16px">
                <p-skeleton
                  class="w-8 mb-4"
                  height="30px"
                ></p-skeleton>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="card-body flex flex-column align-items-center justify-content-center"
        *ngIf="total == 0"
      >
        <img src="assets/ilustrasi/nodata.png" class="w-3" />
        <p class="text-2xl fs-10">tidak ada data</p>
      </div>
      <div class="card-footer align-items-center flex justify-content-between">
        <label class="fs-8">Total data: <b>{{total}}</b></label>
        <button 
          pButton
          pRipple
          type="button" 
          class="p-button-text p-button-rounded p-button-plain" 
          icon="pi pi-download"
          style="color: #404040"
          pTooltip="Download"
          (click)="downloadexcel()">
        </button>
      </div>
    </div>
  </div>
</div>
