<p-toast position="top-center"></p-toast>
<p-confirmDialog [rejectVisible]="false" [closable]="false" [style]="scrWidth >= 780 ? { width: '50vw' } : { width: '80vw' }"></p-confirmDialog>

<!-- loading -->
<div *ngIf="pageSukses == false && pageGagal == false" class="flex align-items-start w-full h-screen flex-column">
  <p-skeleton class="w-12 mb-4" height="30px"></p-skeleton>
  <p-skeleton class="w-12 mb-4" height="75px"></p-skeleton>
  <p-skeleton class="w-12 mb-4" height="150px"></p-skeleton>
  <p-skeleton class="w-12" height="150px"></p-skeleton>
</div>

<!-- errorPage -->
<div class="grid flex flex-column justify-content-center align-items-center w-full h-screen" *ngIf="pageGagal">
  <img src="assets/ilustrasi/pageerror.png" class="w-3" />
  <b>Opps, terjadi kesalahan!</b>
  <p class="fs-10" style="text-align: center">Coba periksa koneksi internet anda lalu ulangi kembali</p>
  <button
    type="button"
    label="Ulangi"
    pButton
    pRipple
    class="p-button-text p-button-rounded"
    icon="pi pi-refresh"
    style="color: rgb(34, 155, 7)"
    *ngFor="let error of load"
    (click)="reload(error.tipe, '')"
  ></button>
</div>

<!-- successPage -->
<div class="grid" *ngIf="pageSukses" [class.divdisabled]="loadingData">
  <div class="col-12">
    <div class="card">
      <div class="input-group mb-3">
        <input 
          type="text"
          class="form-control fs-8"
          placeholder="Cari data"
          aria-label="Cari data"
          aria-describedby="button-addon2"
          [(ngModel)]="cari"
          (ngModelChange)="search($event)"
          (keyup.enter)="emitsearch()"
          >
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" pTooltip="Cari" (click)="emitsearch()">
          <i class="pi pi-search" ></i>
        </button>
      </div>
      <div class="card-header align-items-center flex justify-content-between responsive-header">
        <div class="button-group">
          <button
            type="button"
            pButton
            pRipple
            class="p-button-rounded p-button-plain"
            icon="pi pi-plus"
            pTooltip="Tambah data (ctrl/⌘ + q)"
            (click)="openPop('', 1)"
          ></button>
          <button
            pButton
            pRipple
            class="p-button-text p-button-rounded p-button-plain"
            icon="pi pi-file-excel"
            style="color: #039130"
            pTooltip="Data excel"
            (click)="menuExcel.toggle($event)"
          >
            <input #fileExcel id="selectfilexl" type="file" accept=".xlsx" style="display: none" (change)="openFile($event)" />
          </button>
          <p-menu #menuExcel id="config_menu" [model]="menuexcel" appendTo="body" [popup]="true" />
          <button
            type="button"
            pButton
            pRipple
            class="p-button-text p-button-rounded p-button-plain"
            icon="pi pi-refresh"
            style="color: #00437e"
            pTooltip="Refresh data"
            (click)="refresh()"
          ></button>
          <button
            type="button"
            pButton
            pRipple
            [class]="getStatistic ? 'p-button-rounded p-button-plain p-button-warning' : 'p-button-text p-button-rounded p-button-plain'"
            icon="pi pi-chart-bar"
            style="color: #00437e"
            pTooltip="Statistik"
            (click)="openChart()"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            class="p-button-text p-button-rounded p-button-plain"
            icon="pi pi-print"
            style="color: #404040"
            pTooltip="Print"
            tooltipPosition="left"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            class="p-button-text p-button-rounded p-button-plain"
            icon="pi pi-download"
            style="color: #404040"
            pTooltip="Download"
            tooltipPosition="left"
          ></button>
        </div>

        <p-paginator
          (onPageChange)="pageChange($event)"
          pageLinkSize="3"
          styleClass="fs-8 paginator-responsive"
          [first]="aktifpage"
          [rows]="totaltampil"
          [totalRecords]="total"
          [rowsPerPageOptions]="total > 20 ? [10, 15, 20] : [10, 15]"
        ></p-paginator>

        <label class="fs-8 total-data-label">
          Total data: <b>{{ total }}</b>
        </label>
      </div>

      <p-progressBar mode="indeterminate" *ngIf="loadingData"></p-progressBar>
      <div *ngIf="total !== 0" style="overflow-x: auto; height: 420px" id="tabel">
        <table class="table table-bordered table-hover" data-detail-view="true" >
          <thead style="position: sticky; top: 0; z-index: 99;" class="table-light">
            <tr class="fs-9">
              <th scope="col" data-valign="middle" *ngFor="let colom of tablecolom" [class]="colom.class" (click)="colom.order ? orderData(colom.order) : ''">
                {{colom.namakolom}}
                <i
                  [hidden]="lastOrder !== colom.order"
                  [class]="!direction ? ' pi pi-sort-amount-down-alt fs-8 ml-2' : 'pi pi-sort-amount-up fs-8 ml-2'"
                  style="color: #686868"
                  ></i>
              </th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of isidata">
              <td colspan="6" *ngIf="loadingHapus == item.idkategoribarang">
                <p-progressBar mode="indeterminate" [style]="{ background: 'red' }"></p-progressBar>
                <b style="color: red" class="fs-8">Menghapus data {{ item.kantor }}</b>
              </td>
              <th scope="row" style="padding-top: 16px; padding-bottom: 16px" class="fs-8" *ngIf="loadingHapus !== item.idkategoribarang">
                <p>{{ item.no }}</p>
              </th>
              <th scope="row" style="padding-top: 6px; padding-bottom: 6px" class="fs-8" *ngIf="loadingHapus !== item.idkategoribarang">
                <p-image [src]="item.gambarkategoribarang" alt="Image" [width]="scrWidth < 450 ? 30 : 50" [preview]="true" />
              </th>
              <td style="padding-top: 16px; padding-bottom: 16px" class="fs-8" *ngIf="loadingHapus !== item.idkategoribarang">
                <p>
                  {{ item.kategoribarang }}
                  <p-tag styleClass="fs-6" severity="danger" value="Baru" [rounded]="true" [hidden]="item.selisihwaktu > 60" />
                </p>
              </td>
              <td style="padding-top: 16px; padding-bottom: 16px" class="fs-8" *ngIf="loadingHapus !== item.idkategoribarang">
                <p>{{ item.jumlahbarang }}</p>
              </td>
              <td pTooltip="Stok total barang" style="padding-top: 16px; padding-bottom: 16px" class="fs-8" *ngIf="loadingHapus !== item.idkategoribarang">
                <p>{{ item.stokpcs || 0 | number: '1.0-3'}}</p>
              </td>
              <td pTooltip="Harga jual barang peritem x jumlah barang" style="padding-top: 16px; padding-bottom: 16px" class="fs-8" *ngIf="loadingHapus !== item.idkategoribarang">
                <p>{{ item.hargajual || 0 | number: '1.0-3'}}</p>
              </td>

              <td style="width: 50px">
                <div class="btn-group dropstart" #confirmTarget>
                  <button
                    pButton
                    pRipple
                    type="button"
                    [disabled]="loadingData"
                    class="p-button-text p-button-rounded p-button-plain"
                    data-bs-toggle="dropdown"
                    icon="pi pi-ellipsis-v"
                    style="color: #404040"
                    aria-expanded="false"
                  ></button>
                  <ul class="dropdown-menu fs-8">
                    <li (click)="openPop(item, 2)">
                      <button class="dropdown-item" type="button">
                        <i class="pi pi-file-edit mr-4 fs-8" style="color: #0eb705"></i>
                        Perbarui
                      </button>
                    </li>
                    <li (click)="konfirmHapus(item, confirmTarget)" [hidden]="item.jumlahbarang !== 0">
                      <button class="dropdown-item" type="button">
                        <i class="pi pi-trash mr-4 fs-8" style="color: red"></i>
                        Hapus
                      </button>
                    </li>
                  </ul>
                </div>
                <p-confirmPopup [key]="item.idkategoribarang"></p-confirmPopup>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card-body flex flex-column align-items-center justify-content-center" *ngIf="total == 0">
        <img src="assets/ilustrasi/nodata.png" class="w-3" />
        <p class="text-2xl fs-10">tidak ada data</p>
      </div>
    </div>

    <!-- chart -->
    <div class="card" *ngIf="getStatistic">
      <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
    </div>
  </div>
</div>

<p-dialog
  header="Pilih Data dari File Excel"
  [(visible)]="popBulk"
  [modal]="true"
  [style]="scrWidth >= 780 ? { width: '85vw' } : { width: '100%', height: '100%' }"
  [baseZIndex]="999"
>
  <p-pickList
    [source]="unselecteddatabulk"
    [target]="selecteddatabulk"
    [dragdrop]="true" 
    [responsive]="true"
    [sourceStyle]="{ height: '30rem' }" 
    [targetStyle]="{ height: '30rem' }"
    filterBy="kategori" 
    sourceFilterPlaceholder="Cari data" 
    targetFilterPlaceholder="Cari data"
    [metaKeySelection]="false"
    >
    <ng-template let-dataxl pTemplate="item">
      <div class="flex flex-column">
        <span class="fs-10">
          {{ dataxl.kategori }}
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="sourceHeader">
      <div class="flex justify-content-between align-items-center">
        <b>Data dibuang <span *ngIf="unselecteddatabulk">{{unselecteddatabulk.length || ''}}</span></b>
        <i class="pi pi-trash" style="color: red;"></i>
      </div>
    </ng-template>
    <ng-template pTemplate="targetHeader">
      <div class="flex justify-content-between align-items-center">
        <b>Data dipilih <span *ngIf="selecteddatabulk">{{selecteddatabulk.length || ''}}</span></b>
        <i class="pi pi-check-circle" style="color: green;"></i>
      </div>
    </ng-template>
  </p-pickList>
  
  <ng-template pTemplate="footer">
    <p-button
      label="Tambah"
      styleClass="p-button-text"
      [loading]="loadingButton"
      [disabled]="loadingButton || selecteddatabulk.length == 0"
      (click)="tambahbulk()"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  [header]="namaForm"
  [(visible)]="popForm"
  position="top"
  [modal]="true"
  [closable]="!loadingButton"
  maximizable="true"
  focusTrap="true"
  [style]="scrWidth >= 780 ? { width: '50vw' } : { width: '100%', height: '100%' }"
  (onHide)="formKosong();"
  #d
>
  <!-- loading -->
  <div *ngIf="loadingForm" class="flex justify-content-center align-items-center w-full h-18rem">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="3"></p-progressSpinner>
  </div>
  <!-- errorForm -->
  <div class="grid flex flex-column justify-content-center align-items-center w-full h-18rem" *ngIf="formGagal">
    <b>Opps, terjadi kesalahan!</b>
    <p>Coba periksa koneksi internet anda lalu ulangi kembali</p>
    <button
      type="button"
      label="Ulangi"
      pButton
      pRipple
      class="p-button-text p-button-rounded"
      icon="pi pi-refresh"
      style="color: rgb(34, 155, 7)"
      *ngFor="let error of load"
      (click)="reload(error.tipe, '')"
    ></button>
  </div>
  <!-- successForm -->
  <form
    [formGroup]="formInput"
    class="mt-3"
    (keyup.enter)="namaForm == 'Tambah Kategori Barang' ? tambah() : perbarui()"
    *ngIf="!formGagal && !loadingForm"
  >
    <div class="mt-5 flex justify-content-center flex-column">
      <label htmlFor="kategoribarang" class="font-semibold text-sm">Nama Kategori Barang</label>
      <input
        pInputText
        id="kategoribarang"
        [(ngModel)]="namakategoribarang"
        formControlName="namaKategoribarang"
        class="w-12 border-radius-10"
        autofocus
      />
    </div>

    <div class="mt-5 flex justify-content-center flex-column">
      <p-fileUpload
        #fileU
        id="fileU"
        name="gambar"
        styleClass="fs-8"
        chooseStyleClass="fs-8"
        (onSelect)="imgTambah($event)"
        [multiple]="true"
        accept="image/*"
        maxFileSize="1000000"
        chooseLabel="Pilih File Gambar"
        cancelLabel="Reset"
        cancelIcon="pi pi-refresh"
        [showUploadButton]="false"
        [showCancelButton]="false"
        [multiple]="false"
        mode="advanced"
        [customUpload]="true"
        invalidFileSizeMessageSummary="Ukuran file terlalu besar,"
        invalidFileSizeMessageDetail="max. 1MB/1000KB."
        invalidFileTypeMessageSummary="Format file salah,"
        invalidFileTypeMessageDetail="hanya mendukung format gambar (disarankan .jpg)."
        *ngIf="namaForm == 'Tambah Kategori Barang'"
      >
        <ng-template pTemplate="file" let-file let-i="index" class="d-flex justify-content-center">
          <div class="p-fileupload-files ng-star-inserted">
            <div class="ng-star-inserted">
              <div class="p-fileupload-row ng-star-inserted">
                <div>
                  <p-image
                    [src]="file.objectURL.changingThisBreaksApplicationSecurity"
                    width="50"
                    class="ng-star-inserted"
                    [preview]="true"
                  ></p-image>
                </div>
                <div class="p-fileupload-filename">{{ file.name }}</div>
                <div>{{ file.size }} bytes</div>
                <div>
                  <button
                    type="button"
                    pButton
                    pRipple
                    class="p-button-text p-button-rounded p-button-plain"
                    icon="pi pi-times-circle"
                    style="color: red"
                    (click)="removeFile(file, fileU)"
                  ></button>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div *ngIf="uploadGambar.length == 0" class="flex align-items-center justify-content-center flex-column">
            <i class="pi pi-cloud-upload border-2 border-circle p-2 fs-14 text-400 border-400"></i>
            <p class="mt-2 mb-0">Drag dan drop file ke sini.</p>
          </div>
        </ng-template>
      </p-fileUpload>

      <div *ngIf="namaForm == 'Perbarui Data Kategori Barang'">
        <div class="p-fileupload-files ng-star-inserted" *ngFor="let data of isiGambar; let i = index">
          <div class="ng-star-inserted">
            <div class="flex align-items-center justify-content-between">
              <div>
                <p-image
                  *ngIf="!selectedFiles.get(data.id); else newImage"
                  [src]="data.nama"
                  width="50"
                  class="ng-star-inserted"
                  [preview]="true"
                ></p-image>
              </div>
              <ng-template #newImage>
                <p-image *ngIf="newImg.get(data.id)" [src]="newImg.get(data.id)" width="50" [preview]="true"></p-image>
              </ng-template>
              <div class="p-fileupload-filename">{{ data.nama.slice(0, 6) + "XXXX....." }}</div>
              <div>&lt; 1 MB</div>
              <div>
                <button
                  type="button"
                  pButton
                  pRipple
                  class="p-button-text p-button-rounded p-button-plain"
                  icon="pi pi-file-import"
                  style="color: #0eb705"
                  (click)="fileInput.click()"
                >
                  <input #fileInput type="file" accept="image/*" style="display: none" (change)="imgBaru($event, 1)" />
                </button>
                <button
                  *ngIf="selectedFiles.get(data.id)"
                  type="button"
                  pButton
                  pRipple
                  class="p-button-text p-button-rounded p-button-plain"
                  icon="pi pi-refresh"
                  style="color: #0048ff"
                  (click)="removeFileisi(i)"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      *ngIf="namaForm == 'Tambah Kategori Barang'"
      label="Tambah"
      styleClass="p-button-text"
      [hidden]="formGagal || formInput.invalid || loadingForm || uploadGambar.length == 0"
      [loading]="loadingButton"
      (click)="tambah()"
    ></p-button>
    <p-button
      *ngIf="namaForm == 'Perbarui Data Kategori Barang'"
      label="Perbarui"
      styleClass="p-button-text"
      [hidden]="formGagal || formInput.invalid || loadingForm"
      [loading]="loadingButton"
      (click)="perbarui()"
    ></p-button>
  </ng-template>
</p-dialog>
