<p-confirmDialog [closable]="false" [style]="scrWidth >= 425 ? {width: '50vw'} : {width: '80vw'}"></p-confirmDialog>

<div class="layout-topbar bgtopbar">
  <a class="layout-topbar-logo" routerLink="/kategoribarang">
    <!-- <img src="assets/layout/images/logokbmmasterlight.png" alt="logo"> -->
    <span style="color: white;" class="fs-11">Prototype Warehouse</span>
  </a>

  <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <label class="fs-11 font-bold m-auto">{{titlepage}}</label>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
    <button class="p-link layout-topbar-button">
      <i class="pi pi-user fs-12"></i>
      <span class="fs-11">{{title}}</span>
    </button>

    <button class="p-link layout-topbar-button" (click)="logout()">
      <i class="pi pi-sign-out fs-12"></i>
      <span class="fs-11">Keluar</span>
    </button>
  </div>
</div>
