<p-toast position="top-center"></p-toast>
<p-confirmDialog [rejectVisible]="false" [closable]="false" [style]="scrWidth >= 425 ? {width: '50vw'} : {width: '80vw'}"></p-confirmDialog>
<!-- loading -->
<div
  *ngIf="pageSukses == false && pageGagal == false"
  class="flex align-items-start w-full h-screen flex-column"
>
  <p-skeleton class="w-12 mb-4" height="30px"></p-skeleton>
  <p-skeleton class="w-12 mb-4" height="75px"></p-skeleton>
  <p-skeleton class="w-12 mb-4" height="150px"></p-skeleton>
  <p-skeleton class="w-12" height="150px"></p-skeleton>
</div>

<!-- errorPage -->
<div
  class="grid flex flex-column justify-content-center align-items-center w-full h-screen"
  *ngIf="pageGagal"
>
  <img src="assets/ilustrasi/pageerror.png" class="w-3" />
  <b>Opps, terjadi kesalahan!</b>
  <p class="fs-10" style="text-align: center;">Coba periksa konksi internet anda lalu ulangi kembali</p>
  <button
    type="button"
    label="Ulangi"
    pButton
    pRipple
    class="p-button-text p-button-rounded"
    icon="pi pi-refresh"
    style="color: rgb(34, 155, 7)"
    *ngFor="let error of load"
    (click)="reload(error.tipe, '')"
  ></button>
</div>

<!-- successPage -->
<div class="grid" *ngIf="pageSukses">
  <div class="col-12">
    <div class="card">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div
                    class="card-header align-items-center justify-content-between flex"
                >
                    <h5 class="m-0 inline fs-12">Debit</h5>
                    <p-button
                        *ngIf="!ontambahdebit"
                        icon="pi pi-plus"
                        label="Tambah"
                        (click)="ontambahdebit = !ontambahdebit; ontambahkredit = false;clearselect(2)"
                    >
                    </p-button>
                    <p-button
                    *ngIf="ontambahdebit"
                    styleClass="m-r-8 p-button-danger"
                    icon="pi pi-times"
                    label="Batal"
                    (click)="ontambahdebit = false; listData()"
                    [loading]="loadingButton"
                ></p-button>
                </div>
                <div
                    style="
                        white-space: pre-wrap;
                        margin-top: 16px;
                        margin-bottom: 10px;
                    "
                >
                    <p-tag
                        *ngFor="let debit of hasildatadebit"
                        severity="success"
                        styleClass="m-r-3 m-b-3"
                    >
                    <i class="pi pi-times clickable" (click)="hapusDebit(debit.iddebit)"></i>
                    {{ debit.debit }}</p-tag>
                </div>
                <div *ngIf="ontambahdebit" style="overflow-x: auto; height: 400px">
                    <form
                    [formGroup]="formTambah"
                    class="mt-3"
                    *ngIf="!formGagal && !loadingForm"
                  >
                
                    <div class="mb-3 flex flex-column justify-content-center">
                      <label class="label font-medium text-sm mb-1">Debit</label>
                      <ng-select
                        [(ngModel)]="idselectdebit"
                        formControlName="datatambah"
                        [items]="isidataselectdebit"
                        bindValue="iddebit"
                        bindLabel="debit"
                        (open)="openDebit($event)"
                        [virtualScroll]="true"
                        (scrollToEnd)="onScrollingDebit()"
                        [searchable]="true"
                        (search)="cariDataDebit($event)"
                        (clear)="clearselect(1)"
                        [loading]="loadingDebit"
                        [infiniteScrollDisabled]="InfiniteDataselectdebit"
                        notFoundText="data tidak ditemukan"
                        [placeholder]="'Pilih Debit'"
                        class="custom-select"
                        required
                      >
                      </ng-select>
                    </div>
                  </form>   
                    <div class="mt-5 text-end" *ngIf="!formGagal && !formTambah.invalid">
                        <p-button
                            icon="pi pi-plus"
                            label="Tambah"
                            (click)="tambahDebit()"
                            [loading]="loadingButton"
                        >
                        </p-button>
                    </div>
                    <div class="mt-5 text-end" *ngIf="formGagal">
                        <p-button
                            icon="pi pi-refresh"
                            label="Ulangi"
                            severity="warning"
                            *ngFor="let error of load"
                            (click)="reload(error.tipe, '')"
                            [loading]="loadingButton"
                        >
                        </p-button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div
                    class="card-header align-items-center justify-content-between flex"
                >
                    <h5 class="m-0 inline fs-12">Kredit</h5>
                    <p-button
                        *ngIf="!ontambahkredit"
                        icon="pi pi-plus"
                        label="Tambah"
                        (click)="ontambahkredit = !ontambahkredit; ontambahdebit = false; clearselect(1)"
                    >
                    </p-button>
                    <p-button
                    *ngIf="ontambahkredit"
                    styleClass="m-r-8 p-button-danger"
                    icon="pi pi-times"
                    label="Batal"
                    (click)="ontambahkredit = false; listData()"
                    [loading]="loadingButton"
                ></p-button>
                </div>
                <div
                    style="
                        white-space: pre-wrap;
                        margin-top: 16px;
                        margin-bottom: 10px;
                    "
                >
                    <p-tag
                        *ngFor="let kredit of hasildatakredit"
                        severity="success"
                        styleClass="m-r-3 m-b-3"
                    >
                    <i class="pi pi-times clickable" (click)="hapusKredit(kredit.idkredit)"></i>
                    {{ kredit.kredit }}
                    </p-tag>
                </div>
                <div *ngIf="ontambahkredit" style="overflow-x: auto; height: 400px">
                    <form
                    [formGroup]="formTambah"
                    class="mt-3"
                    *ngIf="!formGagal && !loadingForm"
                  >
                
                    <div class="mb-3 flex flex-column justify-content-center">
                      <label class="label font-medium text-sm mb-1">Kredit</label>
                      <ng-select
                        [(ngModel)]="idselectkredit"
                        formControlName="datatambah"
                        [items]="isidataselectkredit"
                        bindValue="idkredit"
                        bindLabel="kredit"
                        (open)="openKredit($event)"
                        [virtualScroll]="true"
                        (scrollToEnd)="onScrollingKredit()"
                        [searchable]="true"
                        (search)="cariDataKredit($event)"
                        (clear)="clearselect(2)"
                        [loading]="loadingKredit"
                        [infiniteScrollDisabled]="InfiniteDataselectkredit"
                        notFoundText="data tidak ditemukan"
                        [placeholder]="'Pilih Kredit'"
                        class="custom-select"
                        required
                      >
                      </ng-select>
                    </div>
                  </form>   
                    <div class="mt-5 text-end" *ngIf="!formGagal && !formTambah.invalid">
                        <p-button
                            icon="pi pi-plus"
                            label="Tambah"
                            (click)="tambahKredit()"
                            [loading]="loadingButton"
                        >
                        </p-button>
                    </div>
                    <div class="mt-5 text-end" *ngIf="formGagal">
                        <p-button
                            icon="pi pi-refresh"
                            label="Ulangi"
                            severity="warning"
                            *ngFor="let error of load"
                            (click)="reload(error.tipe, '')"
                            [loading]="loadingButton"
                        >
                        </p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>