<p-toast></p-toast>
<p-confirmDialog [rejectVisible]="false" [closable]="false" [style]="{width: '50vw'}"></p-confirmDialog>
<!-- loading -->
<div
  *ngIf="pageSukses == false && pageGagal == false"
  class="flex justify-content-center align-items-start w-full h-screen flex-column"
>
  <p-skeleton class="w-8 mb-4" height="30px"></p-skeleton>
  <p-skeleton class="w-8 mb-4" height="75px"></p-skeleton>
  <p-skeleton class="w-12 mb-4" height="150px"></p-skeleton>
  <p-skeleton class="w-12" height="150px"></p-skeleton>
</div>

<!-- errorPage -->
<div
  class="grid flex flex-column justify-content-center align-items-center w-full h-screen"
  *ngIf="pageGagal"
>
  <img src="assets/ilustrasi/pageerror.png" class="w-3" />
  <b>Opps, terjadi kesalahan!</b>
  <p>Coba periksa koneksi internet anda lalu ulangi kembali</p>
  <button
    type="button"
    label="Ulangi"
    pButton
    pRipple
    class="p-button-text p-button-rounded"
    icon="pi pi-refresh"
    style="color: rgb(34, 155, 7)"
    *ngFor="let error of load"
    (click)="reload(error.tipe, '')"
  ></button>
</div>

<!-- successPage -->
<div class="grid" *ngIf="pageSukses">
  <div class="col-12">
    <div class="card">
      <div class="card-header align-items-center flex">
        <p-button
        icon="pi pi-arrow-left"
        styleClass="p-button-text"
        pTooltip="Kembali"
        (click)="kembali()"
        >
        </p-button>
        <h5 class="m-0 inline fs-12">Kostumisasi Produk <b>{{namaproduk}}</b></h5>
        <button
          type="button"
          pButton
          pRipple
          class="p-button-text p-button-rounded p-button-plain"
          icon="pi pi-plus"
          pTooltip="Tambah data (ctrl/⌘ + q)"
          style="color: slateblue"
          (click)="openPop('', 1)"
        ></button>
        <span class="p-input-icon-left ml-auto float-end" *ngIf="scrWidth > 700">
          <input
            pInputText
            type="text"
            class="p-inputtext-sm animate-width animation-duration-150"
            [(ngModel)]="cari"
            (ngModelChange)="cariData($event)"
            placeholder="Cari custom produk"
            pTooltip="tekan enter ⏎ untuk mencari"
            tooltipEvent="focus"
            tooltipPosition="top"
            life="2000"
            (keyup.enter)="emitsearch()"/>
          <i class="pi pi-search"></i>
          <button
            *ngIf="cari !== '' || undefined"
            type="button"
            pButton
            pRipple
            class="p-button-text p-button-rounded p-button-plain"
            icon="pi pi-search"
            style="color: slateblue"
            pTooltip="Cari / (⏎)"
            (click)="emitsearch()">
          </button>
        </span>
        <div class="ml-auto float-end" *ngIf="scrWidth < 700">
          <button 
            pButton
            pRipple
            type="button" 
            class="p-button-text p-button-rounded p-button-plain" 
            icon="pi pi-search"
            style="color: #404040"
            pTooltip="Cari"
            (click)="scrWidth = 1000">
          </button>
        </div>
      </div>
      <div
        *ngIf="total !== 0"
        style="overflow-x: auto; height: 400px"
        id="tabel"
        infinite-scroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="false"
        [infiniteScrollDisabled]="InfiniteData"
        [immediateCheck]="true"
        (scrolled)="onScroll(tabel)"
        (scroll)="scrolling($event)"
      >
        <table class="table table-bordered table-hover">
          <thead
            style="position: sticky; top: 0; z-index: 99"
            class="table-light"
          >
            <tr>
              <th scope="col">Custom</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of isidata">
              <td style="padding-top: 16px; padding-bottom: 16px">
                <p>{{ item.customproduk }}</p>
              </td>
              <td style="width: 50px">
                <div class="btn-group dropstart" #confirmTarget>
                  <button 
                    pButton
                    pRipple
                    type="button" 
                    class="p-button-text p-button-rounded p-button-plain" 
                    data-bs-toggle="dropdown" 
                    icon="pi pi-ellipsis-v"
                    style="color: #404040"
                    aria-expanded="false">
                  </button>
                  <ul class="dropdown-menu">
                    <li class="mb-2" (click)="openPop(item, 2)">
                      <button class="dropdown-item" type="button">
                        <i class="pi pi-file-edit mr-4" style="color: #0eb705"></i>
                        Perbarui
                      </button>
                    </li>
                    <li (click)="konfirmHapus(item, confirmTarget)">
                      <button class="dropdown-item" type="button">
                        <i class="pi pi-trash mr-4"style="color: red"></i>
                        Hapus
                      </button>
                    </li>
                  </ul>
                </div>
                <p-confirmPopup [key]="item.idcustomproduk"></p-confirmPopup>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!InfiniteData">
            <tr *ngFor="let i of [0, 1]">
              <td style="padding-top: 16px; padding-bottom: 16px">
                <p-skeleton
                  class="w-8 mb-4"
                  height="30px"
                ></p-skeleton>
              </td>
              <td style="padding-top: 16px; padding-bottom: 16px">
                <p-skeleton
                  class="w-8 mb-4"
                  height="30px"
                ></p-skeleton>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        class="card-body flex flex-column align-items-center justify-content-center"
        *ngIf="total == 0"
      >
        <img src="assets/ilustrasi/nodata.png" class="w-3" />
        <p class="text-2xl fs-10">tidak ada data</p>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [header]="namaForm"
  [(visible)]="popForm"
  position="top"
  [modal]="true"
  [closable]="!loadingButton"
  maximizable="true"
  [style]="{ width: '50vw' }"
  (onHide)="formKosong()"
  #d
>
  <!-- loading -->
  <div
    *ngIf="loadingForm"
    class="flex justify-content-center align-items-center w-full h-18rem"
  >
    <p-progressSpinner
      styleClass="w-4rem h-4rem"
      strokeWidth="3"
    ></p-progressSpinner>
  </div>
  <!-- errorForm -->
  <div
    class="grid flex flex-column justify-content-center align-items-center w-full h-18rem"
    *ngIf="formGagal"
  >
    <b>Opps, terjadi kesalahan!</b>
    <p>Coba periksa koneksi internet anda lalu ulangi kembali</p>
    <button
      type="button"
      label="Ulangi"
      pButton
      pRipple
      class="p-button-text p-button-rounded"
      icon="pi pi-refresh"
      style="color: rgb(34, 155, 7)"
      *ngFor="let error of load"
      (click)="reload(error.tipe, '')"
    ></button>
  </div>
  <!-- successForm -->
  <form
    [formGroup]="formCustom"
    class="mt-3"
    (keyup.enter)="namaForm == 'Tambah Custom Produk' ? tambah() : perbarui()"
    *ngIf="!formGagal && !loadingForm"
  >
    <div class="mt-5 flex justify-content-center">
      <span class="p-float-label" style="width: 100%">
        <input
          pInputText
          id="custom"
          [(ngModel)]="namaCustom"
          formControlName="namaCustom"
          class="w-12"
          appCustomautofocus
          required
        />
        <label htmlFor="custom">Custom Produk</label>
      </span>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      *ngIf="namaForm == 'Tambah Custom Produk'"
      icon="pi pi-check"
      label="Tambah"
      styleClass="p-button-text"
      [hidden]="formGagal || formCustom.invalid || loadingForm"
      [loading]="loadingButton"
      (click)="tambah()"
    ></p-button>
    <p-button
      *ngIf="namaForm == 'Perbarui Data Custom Produk'"
      icon="pi pi-check"
      label="Perbarui"
      styleClass="p-button-text"
      [hidden]="formGagal || formCustom.invalid || loadingForm"
      [loading]="loadingButton"
      (click)="perbarui()"
    ></p-button>
  </ng-template>
</p-dialog>
